<template>
  <div class="home">
    <div class="sidebar">
      <div class="sidebar__name">
        <p>Fields</p>
      </div>
      <div class="sidebar__items">
        <p v-for="i in 3" :key="i">{{ i }}</p>
      </div>
    </div>
    <div class="header">
      <p>Card creator</p>
    </div>
    <div class="main">
      <h1>Hello world</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home'
};
</script>

<style scoped lang="scss">
.home {
  display: grid;
  grid-template-columns: minmax(auto,200px);
  grid-template-rows: auto 1fr;
  color: #707070;
  .sidebar{
    grid-row: 1/3;
    border: 1px solid;
    height: 100vh;
    width: 100%;

    &__name{
      border-bottom: 1px solid;
    }
  }

  .header{
    border: 1px solid;
    border-left: none;
  }

  .main{
    grid-column: 2;
  }
}
</style>