<template>
  <div class="test-page">
    <h1>Test page</h1>
    <hr>
    <v-input
      label-prop="Message"
      holder-prop="Is yours message"
      :rules-prop="rules"
    />
    <hr>
    <v-input v-model="message">
      <template v-slot:config="{config,borders}">
        <v-config :config="config" :borders="borders"></v-config>
      </template>
    </v-input>
    <a>{{ message }}</a>
    <hr>
    <v-input-image @file-uploaded="onFileUpload"/>
    <span>{{ file.name }}</span>
    <hr>
    <v-input-image v-slot:config="{config}">
      <v-config :config="config"></v-config>
    </v-input-image>
    <hr>
    <v-input-phone></v-input-phone>
    <hr>
    <v-input-phone v-slot:config="{config}">
      <v-config :config="config"></v-config>
    </v-input-phone>
    <hr>
    <v-group v-slot="{groupName}">
      <v-radio
        :group-name="groupName"
        v-for="(value,key) in radios"
        :key="key"
        :label="key"
        :data-value="value"
        v-model="picked"
        v-slot:config="{config}"
      >
        <v-config :config="config"></v-config>
      </v-radio>
    </v-group>
    {{ picked }}
    <hr>
    <v-table v-slot:config="{config}">
      <v-config :config="config"></v-config>
    </v-table>
    <hr>
    <v-input-file></v-input-file>
    <hr>
    <v-checkbox v-model="checked"></v-checkbox>
    <label v-if="checked">Hello</label>
    <hr>
  </div>
</template>

<script>
import VGroup from '@/components/VGroup';
import VInput from '@/components/VInput';
import VInputImage from '@/components/VInputImage';
import VInputPhone from '@/components/VInputPhone';
import VConfig from '@/components/VConfig';
import VRadio from '@/components/VRadio';
import VTable from '@/components/VTable';
import VInputFile from '@/components/VInputFile';
import VCheckbox from '@/components/VCheckbox';

export default {
  name: 'TestPage',
  components: {
    VGroup,
    VInput,
    VInputImage,
    VInputPhone,
    VConfig,
    VRadio,
    VTable,
    VInputFile,
    VCheckbox,
  },
  data() {
    return {
      rules: [
        value => !!value || 'Required.',
        value => (value && value.length >= 3) || 'Min 3 characters',
      ],
      file: '',
      message: '',
      radios: {'a': 1, 'b': 2, 'c': 3},
      picked: '',
      checked: false,
      selected: ['hi'],
    };
  },
  methods: {
    onFileUpload: function (value) {
      this.file = value;
    },
  },
};
</script>

<style scoped>

</style>