<template>
<div class="template-checkbox">
  <div class="checkbox">
    <input
      id="check"
      type="checkbox"
      :value="dataValue"
      :name="groupName"
      :checked="checked"
      @change="$emit('change',$event.target.checked)"
    >
    <label for="check">{{label}}</label>
  </div>
  <div class="config-slot">
    <slot
      name="config"
      :config="{
      'Label': label,
      'Value': dataValue,
      }"
    ></slot>
  </div>
</div>
</template>

<script>
export default {
  name: 'VCheckbox',
  model:{
    prop: 'checked',
    event: 'change',
  },
  props: {
    labelProp:{
      type: String,
      default: ''
    },
    groupName:{
      type: String,
      default: '',
    },
    valueProp:{
      type: [String,Number],
      default: '',
    },
    checked: {
      type: Boolean,
      default: false,
    }
  },
  data(){
    return{
      label: '',
      dataValue: false,
    };
  },
  methods:{
    labelChanged(value){
      this.label=value;
    },
    valueChanged(value) {
      this.dataValue=value;
    },
  },
  created() {
    this.label=this.$props.labelProp;
    this.dataValue=this.$props.valueProp;

    this.$on('labelChanged',this.labelChanged);
    this.$on('valueChanged',this.valueChanged);
  }
};
</script>

<style scoped>

</style>
