<template>
  <div class="components-config">
    <button class="components-config__show-button" @click="isActive=!isActive">{}</button>
    <div v-if="isActive" class="components-config__content">
      <div v-for="(value,key,index) in config" :key="index">
        <label>{{ key }}: </label>
        <input
          :type="returnInputType(value)"
          :value="value"
          @change="$parent.$emit(
            `${key[0].toLowerCase()+key.slice(1).replace(/\s+/g,'')}Changed`,
             $event.target.value,$event.target.checked)">
      </div>
      <div v-if="borders">
        <button v-for="(value,key,index) in borders"
                :key="index"
                :value="value"
                @click="bordersChanged(key)"
        >{{ key }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VConfig',
  props: {
    config: {
      type: Object,
      default: () => {
      },
    },
    borders: {
      type: Object,
      default: () => {
      },
    }
  },
  data() {
    return {
      isActive: false,
    };
  },
  methods: {
    bordersChanged(key) {
      this.borders[key] = this.borders[key] === '' ? 'none' : '';
      this.$parent.$emit('bordersChanged', this.borders);
    },
    returnInputType(value) {
      return typeof value === 'string' || typeof value === 'number' ? 'text' : 'checkbox';
    }
  }
};
</script>

<style scoped lang="scss">
.components-config {
  display: flex;
}
</style>
