<template>
  <div>
    <slot :group-name="generateGroupName">
    </slot>
  </div>
</template>

<script>
export default {
  name: 'VGroup',
  data() {
    return {
      groupName: 'group-',
    };
  },
  computed: {
    generateGroupName() {
      return this.groupName + Math.floor(Math.random() * 100);
    }
  }
};
</script>

<style scoped>

</style>
