<template>
  <div class="template-input-image">
    <label>{{ label }}</label>
    <div class="input-image">
      <input
        class="input-image__content"
        type="file"
        ref="image"
        accept="image/*"
        @change="handleFileUpload"
        style="display: none"
      >
      <div class="input-image__wrapper">
        <button v-if="file" class="input-image__delete-image" @click="deleteFile">X</button>
        <img
          class="input-image__source"
          :src="fileURL"
          :alt="fileURL ? 'Your image will be here' : 'This is your image' "
          :style="{width:width+'px',height: height+'px'}"
          @click="onInputClick"
        >
        <label v-if="errMessage">{{errMessage}}</label>
      </div>
    </div>
    <div class="config-slot">
      <slot
        name="config"
        :config="{
        'Width': width,
        'Height': height,
        'Required': false,
      }"></slot>
    </div>
  </div>
</template>

<script>
import rulesMixin from '@/mixins/rulesMixin';

export default {
  name: 'VInputImage',
  mixins: [rulesMixin],
  props: {
    widthProp: {
      type: Number,
      default: 140,
    },
    heightProp: {
      type: Number,
      default: 120,
    },
    labelProp: {
      type: String,
      default: '',
    }
  },
  data() {
    return {
      file: '',
      fileURL: '',
      defaultFile: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Plus%2B.svg/239px-Plus%2B.svg.png',
      width: 0,
      height: 0,
      label: '',
    };
  },
  methods: {
    handleFileUpload() {
      this.file = this.$refs.image.files[0];
      this.checkRules(this.file);
      if(!this.file) return;
      this.$emit('file-uploaded', this.file);
      this.fileURL = this.fileToUrl(this.file);
    },
    fileToUrl(file) {
      return URL.createObjectURL(file);
    },
    onInputClick() {
      if (this.file) return;
      this.$refs.image.click();
    },
    deleteFile() {
      this.file = this.fileURL = null;
    },
    widthChanged(value) {
      this.width = value;
    },
    heightChanged(value) {
      this.height = value;
    },
    labelChanged(value) {
      this.label = value;
    },
    isRequired(value, checked) {
      checked ? this.rules.unshift(value => !!value || 'Required.') : this.rules.shift();
    },
  },
  watch: {
    fileURL: function () {
      if (this.fileURL === null) this.fileURL = this.defaultFile;
    }
  },
  created() {
    this.fileURL = this.defaultFile;
    this.width = this.$props.widthProp;
    this.height = this.$props.heightProp;
    this.label = this.$props.labelProp;

    this.$on('widthChanged', this.widthChanged);
    this.$on('heightChanged', this.heightChanged);
    this.$on('labelChanged', this.labelChanged);
    this.$on('requiredChanged', this.isRequired);
  }
};
</script>

<style scoped lang="scss">
.input-image {
  &__delete-image {
    border-radius: 50%;
  }
}
</style>
