<template>
  <div class="template-input">
    <div class="input">
      <label class="input__label" v-if="label">{{ label }}</label>
      <input
        v-bind="$attrs"
        class="input__content"
        v-on="eventListeners"
        v-model="message"
        :placeholder="holder"
        type="text"
        @blur="checkRules(message)"
        :style="Object.assign({width: width + 'px', height: height + 'px'},borders)"
      >
      <label class="input__error" v-if="errMessage">{{ errMessage }}</label>
    </div>
    <div class="config-slot">
      <slot
        name="config"
        :config="{
      'Height':height,
      'Width':width,
      'Placeholder': holder,
      'Label': label,
      'Required': false,
      }"
        :borders=borders
      >
      </slot>
    </div>
  </div>
</template>

<script>
import rulesMixin from '@/mixins/rulesMixin';

export default {
  name: 'VInput',
  mixins: [rulesMixin],
  inheritAttrs: false,
  props: {
    labelProp: {
      type: String,
      default: '',
    },
    holderProp: {
      type: String,
      default: '',
    },
    widthProp: {
      type: Number,
      default: 156.8,
    },
    heightProp: {
      type: Number,
      default: 16,
    },
    bordersProp: {
      type: Object,
      default: () => ({
        'border-bottom': '',
        'border-right': '',
        'border-top': '',
        'border-left': '',
      }),
    },
    value: {
      type: String,
      default: '',
    }
  },
  data() {
    return {
      message: '',
      errMessage: '',
      label: '',
      holder: '',
      width: '',
      height: '',
      borders: '',
    };
  },
  methods: {
    labelChanged(value) {
      this.label = value;
    },
    placeholderChanged(value) {
      this.holder = value;
    },
    widthChanged(value) {
      this.width = value;
    },
    heightChanged(value) {
      this.height = value;
    },
    isRequired(value, checked) {
      checked ? this.rules.unshift(value => !!value || 'Required.') : this.rules.shift();
    },
    bordersChanged(value) {
      this.borders = value;
    }
  },
  computed: {
    eventListeners() {
      const vm = this;
      return Object.assign({},
        this.$listeners, {
          input(event) {
            vm.$emit('input', event.target.value);
          },
          change(event) {
            vm.$emit('change', event.target.value);
          }
        }
      );
    },
  },
  created() {
    this.label = this.$props.labelProp;
    this.holder = this.$props.holderProp;
    this.width = this.$props.widthProp;
    this.height = this.$props.heightProp;
    this.borders = this.$props.bordersProp;

    this.$on('labelChanged', this.labelChanged);
    this.$on('placeholderChanged', this.placeholderChanged);
    this.$on('widthChanged', this.widthChanged);
    this.$on('heightChanged', this.heightChanged);
    this.$on('requiredChanged', this.isRequired);
    this.$on('bordersChanged', this.bordersChanged);
  }
};
</script>

<style scoped lang="scss">
.template-input {
  display: flex;
}

.input {
  display: flex;
  flex-direction: column;
}
</style>
