<template>
  <div class="template-phone-number">
    <div class="phone-number">
      <div class="phone-number__label">
        <label>{{ label }}</label>
      </div>
      <div class="phone-number__input-number">
        <select
          v-model="selectedCountry"
          @change="$_countryBeenSelected">
          <option v-for="(country,index) in countries"
                  :value="country.name"
                  :key="index">
            {{ country.name }} +{{ country.code }}
          </option>
        </select>
        <input
          type="tel"
          v-model.lazy="number"
          @blur="parseNumber"
          @change="checkRules"
          :style="{width: width + 'px', height: height + 'px'}"
        >
        <label v-if="phoneNumber">{{ selectedCountry }} {{ returnParseNumber }}</label>
      </div>
      <div v-if="errMessage" class="phone-number__error-message">
        <label>{{ errMessage }}</label>
      </div>
    </div>
    <div class="config-slot">
      <slot
        name="config"
        :config="{
        'Height': height,
        'Width': width,
        'Label': label,
        'Required': false,
        }"
      ></slot>
    </div>
  </div>
</template>

<script>
import {
  formatIncompletePhoneNumber,
  AsYouType,
  getCountries,
  getCountryCallingCode,
  isValidPhoneNumber,
} from 'libphonenumber-js/max';
import rulesMixin from '@/mixins/rulesMixin';

export default {
  name: 'VInputPhone',
  mixins: [rulesMixin],
  props: {
    widthProp: {
      type: Number,
      default: 156.8,
    },
    heightProp: {
      type: Number,
      default: 16,
    },
    labelProp: {
      type: String,
      default: 'Phone Number',
    }
  },
  data() {
    return {
      number: '',
      selectedCountry: '',
      phoneNumber: '',
      countries: [],
      label: '',
      width: '',
      height: '',
    };
  },
  methods: {
    parseNumber() {
      try {
        const asYouType = new AsYouType(this.selectedCountry);
        this.checkRules(this.number);
        if(this.errMessage) return;
        asYouType.input(formatIncompletePhoneNumber(this.number));
        this.phoneNumber = asYouType.getNumber();
        this.selectedCountry = asYouType.getNumber().country;
      } catch (e) {
        console.log(e);
      }
    },
    $_countryBeenSelected() {
      if (!this.number)
        this.number = '+' + getCountryCallingCode(this.selectedCountry);
    },
    $_widthChanged(value) {
      this.width = value;
    },
    $_heightChanged(value) {
      this.height = value;
    },
    $_labelChanged(value) {
      this.label = value;
    },
    $_isValid(){
      return () => isValidPhoneNumber(this.number,this.selectedCountry) || 'Number is invalid';
    },
    $_isRequired(value, checked) {
      checked ? this.rules.unshift(value => !!value || 'Required.') : this.rules.shift();
    },
  },
  computed: {
    returnParseNumber() {
      return this.phoneNumber.formatNational();
    },
  },
  created() {
    let countries = getCountries();
    for (let country of countries) {
      let countryObject = {
        name: country,
        code: getCountryCallingCode(country)
      };
      this.countries.push(countryObject);
    }
    this.rules.push(this.$_isValid());

    this.height = this.$props.heightProp;
    this.width = this.$props.widthProp;
    this.label = this.$props.labelProp;

    this.$on('heightChanged', this.$_heightChanged);
    this.$on('widthChanged', this.$_widthChanged);
    this.$on('labelChanged', this.$_labelChanged);
    this.$on('requiredChanged',this.$_isRequired);
  }
};
</script>

<style scoped lang="scss">
.template-phone-number {
  display: flex;

  .phone-number {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__label{
      align-self: baseline;
    }

    &__input-number {
      display: flex;
    }
    &__error-message{
      align-self: baseline;
    }
  }
}
</style>
