<template>
<div class="template-input-file">
  <div class="input-file">
    <input
      class="input-file__content"
      type="file"
      ref="file"
      @change="handleFileUpload"
      style="display: none"
    >
    <button
      class="input-file__wrapper"
      v-if="!file"
      @click="onInputClick">upload</button>
    <label
      class="input-file__label"
      v-if="file">{{file.name}}</label>
    <button
      class="input-file__delete"
      v-if="file"
      @click="deleteFile">X</button>
  </div>
  <div class="config-slot"><slot></slot></div>
</div>
</template>

<script>
export default {
  name: 'VInputFile',
  data(){
    return{
      file:''
    };
  },
  methods:{
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
      this.$emit('file-uploaded', this.file);
    },
    onInputClick() {
      this.$refs.file.click();
    },
    deleteFile() {
      this.file='';
    }
  }
};
</script>

<style scoped lang="scss">
.template-input-file{
  .input-file{
    display: flex;
    &__delete{
      margin: 0 5px;
      border-radius: 50%;
    }
  }
}
</style>
