<template>
  <div class="template-radio">
    <div class="radio">
      <input
        type="radio"
        :name="groupName"
        :id="label"
        :value="dataValue"
        v-bind="$attrs"
        v-on="eventListeners"
      >
      <label :for="label">{{ label }}</label>
    </div>
    <div class="slot">
      <span>
      <slot
        name="config"
        :config="{
        'Label':label,
        'Value': dataValue,
      }">
      </slot>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VRadio',
  props: {
    groupName: {
      type: String,
      default: '',
    },
    labelProp: {
      type: String,
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    dataValueProp: {
      type: [String, Number],
      default: '',
    }
  },
  data() {
    return {
      label: '',
      dataValue: '',
    };
  },
  methods: {
    labelChanged(value) {
      this.label = value;
    },
    valueChanged(value) {
      this.value = value;
    }
  },
  computed: {
    eventListeners() {
      const vm = this;
      return Object.assign({},
        this.$listeners, {
          input(event) {
            vm.$emit('input', event.target.value);
          },
          change(event) {
            vm.$emit('change', event.target.value);
          }
        });
    }
  },
  created() {
    this.label = this.$props.labelProp;
    this.dataValue = this.$props.dataValueProp;

    this.$on('labelChanged', this.labelChanged);
    this.$on('valueChanged', this.valueChanged);
  }
};
</script>

<style scoped>
.template-radio{
  display: flex;
}
.radio{
  display: flex;
}
.slot{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}
</style>
