<template>
  <div class="template-table">
    <label>{{ label }}</label>
    <div class="table">
      <div
        class="table__column"
        v-for="(column,indexColumn) in table"
        :key="indexColumn"
      >
        <div
          class="table__row"
          v-for="(row,indexRow) in column"
          :key="indexRow">
          <input
            type="text"
            :key="indexRow"
            :value="row"
            :style="{width: width + 'px', height: height + 'px'}"
            @change="changeRow(indexColumn,indexRow,$event.target.value)">
        </div>
      </div>
      <button @click="createColumn()">Column</button>
      <button @click="createRow()">Row</button>
    </div>
    <div class="config-slot">
      <slot
        name="config"
        :config="{
        'Height Row': height,
        'Width Column': width,
        'Label': label,
        }
"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VTable',
  props: {
    labelProp: {
      type: String,
      default: ''
    },
    heightRowProp: {
      type: Number,
      default: 20,
    },
    widthColumnProp: {
      type: Number,
      default: 60,
    }
  },
  data() {
    return {
      table: [['', ''], ['', '']],
      label: '',
      width: 0,
      height: 0
    };
  },
  methods: {
    createColumn() {
      this.table.push(new Array(this.table[0].length));
    },
    createRow() {
      this.table.forEach(row => row.push(''));
    },
    changeRow(column, row, value) {
      this.table[column][row] = value;
    },
    heightChanged(value) {
      this.height = value;
    },
    widthChanged(value) {
      this.width = value;
    },
    labelChanged(value) {
      this.label = value;
    }
  },
  created() {
    this.label = this.$props.labelProp;
    this.width = this.$props.widthColumnProp;
    this.height = this.$props.heightRowProp;

    this.$on('heightRowChanged', this.heightChanged);
    this.$on('widthColumnChanged', this.widthChanged);
    this.$on('labelChanged', this.labelChanged);
  }
};
</script>

<style scoped lang="scss">
.table {
  display: flex;

  &__column {
    flex-direction: column;
  }

  &__row {
    flex-direction: row;
  }

}
</style>
